[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "micEconCES"]
	path = micEconCES
	url = https://github.com/micecon/miceconces
[submodule "micEconDistRay"]
	path = micEconDistRay
	url = https://github.com/micecon/micecondistray
